.button{
    background-color:$blue;
    font-size: $font-size-large;
    display: inline-block; 
    border: none;
    color: white;
    padding:$s-size;
    font-weight: 300;
    text-decoration: none;
    line-height: 1;
}

.button--link{
    background:none;
}